h3{
   
    margin-right: 200px;
    color: #33c4ff;
}
body {
        font-family: Arial ;
        padding-left: 50px;
        padding-top: 100px;
        font-size:140%;
       
 }
li {
    
    margin-top: 30px;
    margin-right: 200px;
    color: black;


}