a:link{color: #CC0000 }
a{color: #CC0000;}
a:hover{color: #FFF; background-color: #CC0000;}
a.a1:visited{ color: #CCC;}
a.a2:visited{ color: #CCC;}
a.a3:visited{ color: #CCC;}
a.a4:visited{ color: #CCC;}
a.a5:visited{ color: #CCC;}


